.toggle-button {
    background-color: white;
    height: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.toggle-button-line {
    width: 20px;
    height: 2px;
    background-color: white;
}